<div class="container">
  <h2 class="text-center p-3">サイト紹介</h2>
  <div>
    <p class="text-center about-text">
      このサイトは、画像投稿がでコミュニケーションが取れるSNSサイトです。<br>
      会員登録することで投稿ができたりコメントが出来たりします。<br>
      様様な人と関わりコミュニケーションの輪を広げましょう！！！<br>
    </p>
  </div>

</div>
