<% if keyword.present? %>
  <h2 class="text-center p-3"><span class="text-primary m-2"><%= keyword %></span>に関する投稿</h2>
<% elsif sort_keyword.present? %>
  <h2 class="text-center p-3"><%= sort_selection %></h2>
<% else %>
  <h2 class="text-center p-3">投稿一覧</h2>
<% end %>