<div class="container">
  <h2 class="text-center p-3">投稿一覧</h2>
  <div class="row">
    <div class="col-2">
      <%= render 'posts/tag', tags: @tag_ranks %>
    </div>
    <div class="col-10">
      <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>
<script>
  <% if request.referer == new_user_session_url %>
    switch (<%= continuous_login %>) {
    case 10:
      alert("おめでとうございます😀連続ログイン1０日目です！！");
      break;
    case 20:
      alert("おめでとうございます😀連続ログイン2０日目です！！");
      break;
    case 30:
      alert("おめでとうございます😀連続ログイン3０日目です！！");
      break;
    }
  <% end %>
</script>