<header class="container">
  <div class="row">
    <h1 class="col-6 p-0">Let's share pictures</h1>
    <div class="col-6">
      <% if user_signed_in? %>
        <li>
          <%= link_to '投稿フォーム', new_post_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </div>
  </div>
</header>